/OPTIK (1)/OPTIK/opticaCore/build/
/OPTIK (1)/OPTIK/opticaCore/dist/
/OPTIK (1)/OPTIK/opticaCore/nbproject/private/
/OPTIK (1)/OPTIK/opticaModel/build/
/OPTIK (1)/OPTIK/opticaModel/dist/
/OPTIK (1)/OPTIK/opticaModel/nbproject/private/
/OPTIK (1)/OPTIK/optik/build/
/OPTIK (1)/OPTIK/optik/nbproject/private/
